<footer class="footer">
    <div class="footer__container container grid">
       <div>
          <h1 class="footer__title">
             Alexandre <span>Merlin</span>
          </h1>
          <h2 class="footer__education">
             Développeur Fullstack
          </h2>
       </div>
       <div class="footer__social">

          <a href="https://www.linkedin.com/in/alexandre-merlin-82a395a8/" target="_blank" class="footer__social-link">
             <i class="ri-linkedin-box-fill"></i>
          </a>

          <a href="https://github.com/Merlinovitch" target="_blank" class="footer__social-link">
                <i class="ri-github-fill"></i>
          </a>

          <a href="https://www.instagram.com/merlin_paintingz/" target="_blank" class="footer__social-link">
             <i class="ri-instagram-fill"></i>
          </a>

       </div>
       <span class="footer__copy">&#169; Alexandre Merlin. Tous droits réservés.</span>

    </div>
 </footer>