<section class="skills section">
    <div class="skills__container container grid"><div class="skills data">
       <h3 class="section__subtitle">
          Compétences <span>transverses</span>
       </h3>
       <h2 class="section__title">
          Mes compétences
       </h2>

       <p class="skills__description">Fort de mon parcours diversifié, j'ai acquis une gamme de compétences techniques et créatives, 
          qui me permettent de mener à bien des projets complets, de la conception à la réalisation.
       </p>
       <a href="#projects" class="button">Mes projets</a>
    </div>
    <div class="skills__content">
       <ol class="skills__group">
          <li class="skills__item">HTML & CSS</li>
          <li class="skills__item">JavaScript</li>
          <li class="skills__item">Java, .NET</li>
          <li class="skills__item">Angular, React</li>
       </ol>
       <ol class="skills__group" start="5">
          <li class="skills__item">GitHub</li>
          <li class="skills__item">Figma</li>
          <li class="skills__item">Suite Adobe (PS,AI)</li>
          <li class="skills__item">Montage Vidéo</li>

       </ol>
    </div>
 </div>
 </section>